<div class=" flex justify-between">
    <img class="h-24" src="/assets/logo-solution-home-png.png" />
    <ul class="flex justify-between content-center space-x-4 items-center">
        <slot />
    </ul>
</div>